@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
}

/* Tailwind Typography will style .prose */

.record-dot {
  width: 10px;
  height: 10px;
  border-radius: 9999px;
  background: black;
}

.annotation-canvas {
  touch-action: none;
}
